
@external homePanel, verLbl, boxSpacer, valoriLbl;

@external inputPanel, firstColumn, secondColumn, spin-Button;

@external outputPanel;

@external gwt*, dialog*;

@external mgwt*;

@external ckd*;


/* 23/08/2013
.homePanel * {
 */
.homePanel td {
  font-size: 16px;
}

.homePanel button {
  font-size: 16px;
}

.ckdAppPresentation {
  font-size: 22pt;
}

.inputPanel .gwt-Label {
  font-size: 11pt;
}

.outputPanel .gwt-Label {
  font-size: 10pt;
}

.mgwt-Button.ckd-HelpBtn {
  font-size: 12px;
}

.ckd-Gfr, .ckd-Stadium {
  font-size: 12pt;
}

.mgwt-Button.ckd-HelpBtn {
  font-size: 12px;
}

.ckd-Gfr, .ckd-Stadium {
  font-size: 12pt;
}

.ckd-Risk {
  font-size: 14pt;
}

.mgwt-Button.ckd-Bsa {
  font-size: 16px;
}

.verLbl {
  font-size: 8px;
}

.valoriLbl {
  font-size: 10pt !important;
}

.ckdMdrdLabel1 {
  font-size:10pt;
}

.ckdMdrdLabel2 {
  font-size:8pt;
}

.gwt-HTML.ckd-Label.ckd-BsaLabel {
  font-size: 9pt;
}

.gwt-TextBox.ckd-Risk {
  font-size: 14pt;
}

.gwt-HTML.ckd-HelpPanel * {
  font-size: 12px;
}

.gwt-DialogBox {
  font-size: 11pt;
}

.gwt-DialogBox .dialogTop {
  font-size: 13pt;
}

.gwt-DialogBox .dialogContent .gwt-Button {
  font-size: 14pt;
}

.ckdReferralDecisionViewPanel .gwt-Label, .ckdProtocolStepViewPanel .ckd-stepPanel .gwt-HTML {
  font-size: 28px;
}

.ckdExtendedVerViewPanel .mgwt-SmartButton.mgwt-Button.ckd-suggestionBtn {
  font-size: 12px;
}

.ckd-suggestionPanel-content {
  margin-top: -5px;
}

.ckd-suggestionPanel .ckd-suggestionPanel-content div {
  padding-bottom: 0.5em;
}

.ckdProtocolStepViewPanel .mgwt-SmartButton.mgwt-Button.mgwt-Button-round {
  font-size: 18px;
}

.ckd-ProtocolStepPanel {
  margin-top: 56px;
  height: 300px;
}

.ckd-ProtocolStepPanel-center {
  height: 46%;
  font-size: 22px;
}

.ckd-ProtocolHeaderPanel-center {
  font-size: 8pt;
  margin-left: 95px;
  margin-bottom: 10px;
}

.ckd-ProtocolHeaderButton-text {
  font-size: 16px;
  padding: 1px;
  padding-top: 5px;
  height: 50px;
  top: 2.5px;
}
