
@external homePanel, verLbl, boxSpacer, valoriLbl;

@external inputPanel, firstColumn, secondColumn, spin-Button;

@external outputPanel;

@external gwt*;

@external mgwt*;

@external ckd*;

.homePanel {

}
.homePanel * {
  font-size: 16px;
  vertical-align: middle;
}
.homePanel td {
  padding-top: 0.1em;
}
.homePanel input {
  width: 3em;
  text-align: center;
}
.homePanel button {
  font-size: 16px;
  font-weight: bolder;
}

.inputPanel .gwt-Label {
  font-size: 12pt;
  font-weight: 600;
}

.inputPanel .firstColumn {
  padding-left: 8px;
  height: 44px;
}

.inputPanel .secondColumn {
  text-align: center;
  padding-left: 6px;
  width: 6em;
}

.inputPanel .gwt-Anchor {
  text-decoration: underline;
  font-weight: 600;
  font-style: italic;
  color: rgba(255, 255, 0, 0.9);
}

.outputPanel {
  
}

.ckd-Gfr {
  font-size: 12pt;
  font-weight: 600;
  text-align: center;
  padding-top: 2px;
  border: 1px solid black;
  -webkit-border-radius: 4px;
  background: lightgrey;
}

.ckd-Stadium {
  font-size: 12pt;
  font-weight: 600;
  text-align: center;
  padding-top: 2px;
  border: 1px solid black;
  -webkit-border-radius: 4px;
  background: lightgrey;
}

.ckd-Risk {
  font-size: 14pt;
  font-weight: 600;
  text-align: center;
  padding-top: 2px;
  border: 1px solid black;
  -webkit-border-radius: 4px;
}

.ckd-Label {
  
}

.outputPanel .ckd-Label {
  font-weight: 600;  
}

.gwt-TextBox.ckd-Risk {
  font-weight: 600;
  font-size: 14pt;
}

.mgwt-Button.spin-Button {
  padding: 6px 8px;
  border: solid 1px !important;
}

.inputPanel .mgwt-InputBox-box {
  -webkit-border-radius: 6px;
}

.gwt-CheckBox * {
  width: 1em !important;
  text-align: center;
}

.verLbl {
  font-size: 8px;
}
	
.valoriLbl {
  font-size: 16px;
  font-weight: bolder;
  background-color: #666666;
  height: 1.6em;
  width: 272px;
  padding-top: 5px;
  -webkit-border-radius: 6px;
}

.boxSpacer {
  width: 0.5em !important;
}

.mgwt-TextBox .mgwt-InputBox-box {
  font: normal 28px Helvetica !important;
}

.mgwt-Button-round {
  border-bottom-left-radius: 8px 8px !important;
  border-bottom-right-radius: 8px 8px !important;
  border-top-left-radius: 8px 8px !important;
  border-top-right-radius: 8px 8px !important;
}

.mgwt-Button {
  border: solid 3px rgba(0, 0, 0, 0.40) !important;
}

.ckd-CheckBox {
  background-color: white;
  border: 1px solid grey;
  -webkit-border-radius: 4px;
  padding: 2px 2px;
}
