@external homePanel, outputPanel;

@eval userBackground it.mate.ckd.client.ui.theme.custom.CustomTheme.getUserBackground();

body {
  background: #a8c0ce url(main/images/grad.png) top left repeat;
}

.mgwt-ScrollPanel-container {
  width: 100%;
}

.mgwt-HeaderButton-border-content {
  width: 26px !important;
  height: 22px !important;
}

.mgwt-HeaderButton-text {
  font-size: 20px !important;
  height: 28px !important;
  padding: 0px 10px !important;
  width: 18em;
  max-width: 124px !important;
}

.mgwt-HeaderPanel-center {
  width: 400px !important;
  margin-left: -220px !important;
  font-size: 28px !important;
  font-weight: 600;
}

.mgwt-Button.ckd-EstimateBtn {
  font-size: 28px;
  margin-top: 40px;
}

.homePanel td.firstColumn {
  padding-top: 20px;
}

.homePanel, .ckdHomePanel {
  background-image: -webkit-gradient(linear , left top, left bottom, color-stop(0.20, rgba(64, 127, 221, 0.75)), color-stop(0.80, rgba(85, 184, 209, 0.72)), color-stop(0.90, rgba(5, 123, 252, 0.8))) ;
  background-repeat: repeat;
  background-size: 20px userBackground;
  -webkit-border-radius: 8px;
  border: 2px inset whitesmoke;
}

.homePanel * {
  vertical-align: middle;
}

.homePanel button {
  font-weight: bolder;
}

.ckdAppPresentation {
  margin-top: 20px;
}

.inputPanel {
  margin-top: 4%;
}

.outputPanel {
  margin-top: 4%;
}

.ckdInputPanelTable {
  width: 80%;
  margin-top: 2%;
  padding-left: 8%;
}

.homePanel.outputPanel {
  padding-top: 20px;
}

.outputPanel .ckd-Label {
  width: 20em;
  padding-left: 4em;
}

.ckd-Gfr {
  width: 10em;
}

.ckd-Risk {
  width: 13.2em;
}

.outputPanel .ckd-LeftPaddingBox {
  width: 0;
}

.valoriLbl {
  width: 80%;
}

.ckd-MDRD {
  height: 1.8em !important;
}

.ckdMdrdLabel1 {
  display: inline;
}

.ckdMdrdLabel2 {
  display: inline;
}

.outputPanel .gwt-Label.ckd-Label {
  width: 220px;
  margin-left: 80px;
}

.mgwt-Button.ckd-HelpBtn {
  margin-left: 300px;
}

.outputPanel .gwt-Label {
  font-size: 15pt;
}
