
@external ons*, gwt*, navigation*, span, dialog*, list*, picker*;

@def TOOLBAR_COLOR rgb(255, 255, 255);

@def TOOLBAR_BACKGROUND rgb(22, 122, 198);


ons-toolbar, .navigation-bar {
  background-color: TOOLBAR_BACKGROUND;
  background: TOOLBAR_BACKGROUND;
}

ons-toolbar *, .ons-toolbar .navigation-bar__title {
  color: TOOLBAR_COLOR;
}

.ons-toolbar .navigation-bar__title {
  font-weight: 800;
  line-height: 44px;
  text-transform: uppercase;
  font-family: 'Helvetica Neue','Segoe UI',Helvetica,Verdana,san-serif;
  margin-top: -2px;
}

.ons-toolbar .navigation-bar__title {
  position: absolute;
  left: 14%;
}

.ons-toolbar .navigation-bar__left {
  position: absolute;
  left: 2%;
}

.ons-toolbar .navigation-bar__right {
  position: absolute;
  right: 4%;
}

.ons-button {
  width: 98%;
  margin-left: 1%;
  margin-top: 1%;
  text-align: center;
  min-height: 2.6em;
  
  border: 1px solid #16a8c2;
  border-radius: 7px;
  background-color: #14b9d6;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#28c8df),color-stop(100%,#14b9d6));
  box-shadow: 0 1px 5px 0px #d7d8d9, inset 0 0px 2px 0px #8ee1ee;
  font-weight: bold;
  font-size: 1.02em;
  line-height: 2.0em;
  
  margin-bottom: 0.6%;
  
  padding-bottom: 0.2em;
}

.ons-button .ons-icon {
  margin-right: 0.5em;
}

.ons-inline-label {
  display: inline;
}

.ons-button-waiting span {
  opacity: 0.9 !important;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

.ons-toolbar-button-waiting span {
  opacity: 0.9 !important;
}

.ons-toolbar-button-waiting-icon {
  width: 1.8em;
  height: 1.8em;
  padding-top: 0.3em;
}

.ons-bottom-dialog .dialog {
  bottom: 1%;
  top: initial;
  text-align: center;
}

.ons-waiting-dialog .dialog {
  bottom: 1%;
  top: initial;
  text-align: center;
  min-height: initial;
}

.ons-fadein {
  opacity: 0;
}

.ons-back-button {

}

.ons-back-button-realign {
  /* NON SERVE PIU
  margin-left: -10px;
  */
}

ons-alert-dialog {
  background-color: rgb(255, 255, 255) !important;
  background: rgb(255, 255, 255) !important;
}

.ons-searchbox:focus {
  background-color: transparent;
  border: none;
}

.list__item--chevron:active {
  background-color: rgb(232, 242, 254);
}

@eval waitingDivWidth it.mate.onscommons.client.ui.theme.DefaultTheme.getWaitingDivWidth();

.ons-waiting-div {
  position: absolute;
  border: none;
  right: 12px;
  padding-top: 2px;
  width: waitingDivWidth;
  background-color: #167ac6;
  background: #167ac6;
}

.ons-waiting-div-icon {
  width: 36px;
  height: 36px;
}

.ons-list-noborder {
  border: none;
}

.ons-page .picker__select--month, .ons-page .picker__select--year {
  height: 2.2em;
}