
@external ons*, gwt*, navigation*, span, dialog;

.ons-toolbar .navigation-bar__title {
  font-weight: 800;
  line-height: 44px;
  text-transform: uppercase;
  color: rgb(50, 58, 69);
  font-family: 'Helvetica Neue','Segoe UI',Helvetica,Verdana,san-serif;
}

.ons-toolbar .navigation-bar__title {
  position: absolute;
  left: 14%;
}

.ons-toolbar .navigation-bar__left {
  position: absolute;
  left: 2%;
}

.ons-toolbar .navigation-bar__right {
  position: absolute;
  right: 4%;
}

.ons-button {
  width: 98%;
  margin-left: 1%;
  margin-top: 1%;
  text-align: center;
  min-height: 2.6em;
}

.ons-button .ons-icon {
  margin-right: 0.5em;
}

.ons-button {
  border: 1px solid #16a8c2;
  border-radius: 7px;
  background-color: #14b9d6;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#28c8df),color-stop(100%,#14b9d6));
  box-shadow: 0 1px 5px 0px #d7d8d9, inset 0 0px 2px 0px #8ee1ee;
  font-weight: bold;
  font-size: 1.02em;
  line-height: 2.0em;
}

.ons-inline-label {
  display: inline;
}

.ons-toolbar-button-waiting span {
  opacity: 0.9 !important;
}

.ons-bottom-dialog .dialog {
  bottom: 1%;
  top: initial;
  text-align: center;
}

.ons-waiting-dialog .dialog {
  bottom: 1%;
  top: initial;
  text-align: center;
  min-height: initial;
}

.ons-fadein {
  opacity: 0;
}

.ons-back-button {

}

.ons-back-button-realign {
  margin-left: -10px;
}

