
@external gwt*, dialog*;

@external mgwt*;

@external phg*;

@external stm*;

@external ui*;

@url bgr bgrImage;

@eval windowWidth it.mate.stickmail.client.ui.theme.CustomTheme.getWindowWidth();

@eval windowHeight it.mate.stickmail.client.ui.theme.CustomTheme.getWindowHeight();

@eval homePanelHeight it.mate.stickmail.client.ui.theme.CustomTheme.getHomePanelHeight();

body {
  background-image: none;
  background-color: rgba(238, 238, 238, 0.8);
  background-repeat: repeat;
  background-size: windowWidth windowHeight;
}

.mgwt-HeaderPanel {
  background-color: #3b5998;
}

/*
.mgwt-HeaderPanel-center {
  left: 44%;
}
*/

.mgwt-HeaderPanel-center {
  left: 26%;
  width: 310px;
  height: 40px;
  margin-right: -20px;
  margin-top: 0px;
  margin-left: -80px;
  padding-top: 10px;  
}

.mgwt-ScrollPanel-container {
  width: 100%;
}

.mgwt-TextArea {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: block;
  position: relative;
  padding: 9px 13px;
  margin: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 19px;
  -webkit-appearance: none;  
}

.mgwt-TextArea .mgwt-InputBox-box {
  color: black;
}

.ui-homePanel {
  color: black;
  font-size: 16px;
  height: homePanelHeight;
}

.ui-homePanel * {
  vertical-align: middle;
}

.ui-homePanel td {
  padding-top: 0.1em;
}

.ui-homePanel input {
  width: 2.6em;
  text-align: center;
}

.ui-homePanel textarea {
  background-color: white;
}

.ui-homePanel button {
  font-weight: bolder;
}

.ui-homePanel a {
  color: rgba(30, 0, 253, 0.9);
  font-family: Trebuchet MS;
  font-weight: 600;
  font-size: 20px;
  padding: 10px 10px;
}

.ui-homePanel .mgwt-SmartButton {
  background: rgba(0, 0, 255, 0.6);
  color: white;
}

.ui-homePanel .mgwt-TextBox .mgwt-InputBox-box {
  color: black;
  text-align: left;
}

.ui-homePanel .mgwt-TextBox {
  padding-top: 0.2em;
}

.phg-DateBox, .phg-TimeBox {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: block;
  position: relative;
  padding: 9px 13px;
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  -webkit-appearance: none;
  font-size: 19px;
}

.ui-optionsBtn {
  background: url('main/images/options-32-6.png') no-repeat 18px;
  width: 32px;
  height: 32px;
  padding-left: 15px;
  padding-top: 4px;
  padding-right: 8px;
}

.ui-homeLbl {
  padding-top: 2%;
  padding-left: 12px;
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  position: absolute;
  bottom: 1em;
}

.ui-subjectBox {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: block;
  position: relative;
  padding: 9px 13px;
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  -webkit-appearance: none;
  height: 0.8em;
  background-color: white;
  font-size: 19px;
}

.ui-bodyArea {
  border-radius: 6px;
  border-top: 2px solid rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.ui-bodyArea .mgwt-InputBox-box {
  height: 11em;
}

.ui-homePanel .mgwt-TextArea .mgwt-InputBox-box {
  margin: -10px -13px;
  color: black;
  background-color: white;
}

.ui-homePanel .ui-calBox {
  margin-left: 0.5em;
  width: 6em;
  padding-right: 1em;
  padding-left: 0.4em;
}

.ui-homePanel .ui-timeBox {
  width: 3em;
  padding-right: 1em;
  padding-left: 0.4em;
}

.ui-signBtn {
  padding-top: 4px;
}

.ui-signBtn a {
  font-size: 16px;
}

.ui-signedLbl {
  padding-left: 12px;
  width: 13em;
  overflow: hidden;
  font-size: 16.8px;
}

.ui-nowBtn {
  padding-top: 13px;
}

.ui-nowBtn a {
  font-size: 18px;
}

.ui-sendBtn {
  position: absolute;
  width: 86%;
  bottom: 1em;
  left: 2%;
}

.ui-homeSpacer1 {
  height: 3em;
}

.ui-homeSpacer2 {
  height: 2em;
}

.ui-scheduled-mails-btn, .ui-new-mail-btn {
  width: 128px;
  height: 52px;
  padding-top: 130px;
  padding-left: 10px;
  border: 4px solid rgba(0, 0, 255, 0.3);
  border-radius: 6px;
}

.ui-scheduled-mails-btn a, .ui-new-mail-btn a {
  padding: 0;
}

.ui-scheduled-mails-btn {
  background: url('main/images/scheduled-128.png') no-repeat 4px 2px;
}

.ui-new-mail-btn {
  background: url('main/images/newmail-128.png') no-repeat 4px 2px;
}
