
@external gwt*, dialog*;

@external mgwt*;

@external phg*;

@external stm*;

@external ui*;

@url bgr bgrImage;

@eval windowWidth it.mate.stickmail.client.ui.theme.CustomTheme.getWindowWidth();

@eval windowHeight it.mate.stickmail.client.ui.theme.CustomTheme.getWindowHeight();

@eval homePanelHeight it.mate.stickmail.client.ui.theme.CustomTheme.getHomePanelHeight();

body {
  background-image: none;
  background-color: rgba(238, 238, 238, 0.8);
  background-repeat: repeat;
  background-size: windowWidth windowHeight;
}

.mgwt-HeaderPanel {
  background-color: #3b5998;
}

.mgwt-HeaderPanel-center {
  left: 26%;
  width: 310px;
  height: 40px;
  margin-right: -20px;
  margin-top: 0px;
  margin-left: -80px;
  padding-top: 10px;  
}

.ui-HeaderPanel-home {
  background: #3b5998 url('main/images/home.png') no-repeat 5%;
}

.ui-HeaderPanel-center-waiting {
  background: transparent url('main/images/ajax-loader-24-1.gif') no-repeat 86% 42%;
}	

.mgwt-ScrollPanel-container {
  width: 100%;
}

.mgwt-TextArea {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: block;
  position: relative;
  padding: 9px 13px;
  margin: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 19px;
  -webkit-appearance: none;  
}

.ui-homePanel .mgwt-TextArea .mgwt-InputBox-box {
  margin: -10px -13px;
  color: black;
  background-color: white;
  margin: -5px -13px -9px -13px;
  border-radius: 8px;
  -webkit-user-modify: initial;
}

.ui-homePanel .mgwt-TextArea .mgwt-InputBox-box:focus {
  background-color: white;
}

.ui-homePanel .mgwt-TextBox {
  padding-top: 0.2em;
}

.ui-homePanel .mgwt-TextBox .mgwt-InputBox-box {
  color: black;
  text-align: left;
  -webkit-user-modify: initial;
  margin: -10px -13px;
  padding-top: 5px;
  padding-left: 3px;
}

.ui-homePanel .mgwt-TextBox .mgwt-InputBox-box:focus {
  padding-top: 5px;
  padding-left: 3px;
}

.ui-homePanel {
  color: black;
  font-size: 16px;
  height: homePanelHeight;
}

.ui-homePanel * {
  vertical-align: middle;
}

.ui-homePanel td {
  padding-top: 0.1em;
}

.ui-homePanel input {
  width: 2.6em;
  text-align: center;
}

.ui-homePanel textarea {
  background-color: white;
}

.ui-homePanel button {
  font-weight: bolder;
}

.ui-homePanel a {
  color: rgba(30, 0, 253, 0.9);
  font-family: Trebuchet MS;
  font-weight: 600;
  font-size: 20px;
  padding: 10px 10px;
}

.ui-homePanel .mgwt-SmartButton {
  background: rgba(0, 0, 255, 0.6);
  color: white;
}

.phg-DateBox, .phg-TimeBox {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: block;
  position: relative;
  padding: 9px 13px;
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  -webkit-appearance: none;
  font-size: 19px;
}

.ui-optionsBtn {
  background: url('main/images/options-32-1.png') no-repeat 18px;
  width: 32px;
  height: 32px;
  padding-left: 15px;
  padding-top: 4px;
  padding-right: 8px;
}

.ui-changeUserBtn {
  background: url(main/images/change-user-32.png) no-repeat;
  height: 32px;
  padding-right: 38px;
  margin-top: 4px;  
}

.ui-homeLbl {
  padding-top: 2%;
  padding-left: 12px;
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  position: absolute;
  bottom: 1em;
}

.ui-signLbl {
  padding-top: 2%;
  padding-left: 12px;
  width: 100%;
  overflow: hidden;
  font-size: 12px;
}

.ui-subjectBox {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: block;
  position: relative;
  padding: 9px 13px;
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  -webkit-appearance: none;
  height: 0.8em;
  background-color: white;
  font-size: 19px;
}

.ui-bodyArea {
  border-radius: 6px;
  border-top: 2px solid rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.ui-bodyArea .mgwt-InputBox-box {
  height: 11em;
}

.ui-homePanel .ui-calBox {
  margin-left: 0.5em;
  width: 6em;
  padding-right: 1em;
  padding-left: 0.4em;
}

.ui-homePanel .ui-timeBox {
  width: 3em;
  padding-right: 1em;
  padding-left: 0.4em;
}

.ui-signBtn {
  padding-top: 4px;
}

.ui-signBtn a {
  font-size: 16px;
}

.ui-signedLbl {
  padding-left: 12px;
  width: 13em;
  overflow: hidden;
  font-size: 16.8px;
}

.ui-nowBtn {
  padding-top: 13px;
}

.ui-nowBtn a {
  font-size: 18px;
}

.ui-sendBtn {
  position: absolute;
  width: 86%;
  bottom: 1em;
  left: 2%;
}

.ui-homeSpacer1 {
  height: 3em;
}

.ui-homeSpacer2 {
  height: 2em;
}

.ui-scheduled-mails-btn, .ui-new-mail-btn {
  width: 128px;
  height: 52px;
  padding-top: 130px;
  padding-left: 10px;
  border: 4px solid rgba(0, 0, 255, 0.1);
  border-radius: 6px;
}

.ui-scheduled-mails-btn a, .ui-new-mail-btn a {
  padding: 0;
}

.ui-scheduled-mails-btn {
  background: url('main/images/scheduled-128.png') no-repeat 4px 2px;
}

.ui-new-mail-btn {
  background: url('main/images/newmail-128.png') no-repeat 4px 2px;
}

.ui-results-panel {
  border-top: 1px solid black;
}

.ui-row {
  width: 100%;
  height: 2.5em;
  border-bottom: 1px solid black;
  background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
}

.ui-row td:first-child {
  width: 3em;
}

.ui-row-scheduled {
  font-size: 12px;
}

@eval firstRunPanel it.mate.stickmail.client.view.HomeView.getFirstRunPanelWidth();

.ui-firstRunPanel {
  width: firstRunPanel;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: none;
  text-align: center;
  border: solid 8px rgba(58, 41, 41, 0.68);	
  background-color: rgba(58, 41, 41, 0.68);
}

.ui-firstRunPanel .ui-firstRunPanel-top div {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: rgb(150, 255, 200);
  padding-top: 0.8em;
  padding-bottom: 1.2em;
  font-family: verdana;
  font-weight: bold;
  font-size: 0.88em;
}

.ui-firstRunPanel-content {
  background-color: white;
  width: 100%;
  height: 100%;
}

.ui-firstRunPanel .ui-firstRunPanel-content div {
  background-color: white;
  padding-top: 0.6em;
  font-size: 0.72em;
  font-weight: 600;
}

.ui-firstRunLbl {
  margin: 10px;
  padding-bottom: 1em;
}
