
@external phg*;

@url calendarImageUrl calendarImage;

.phg-TouchAnchor {
  text-decoration: none;
}

.phg-DateBox {
  background-image: calendarImageUrl;
  background-repeat: no-repeat;
  background-position: 98% 42%;
}

.phg-CalendarDialog {
  color: black;
}

.phg-CalendarDialog-Header {
  background-color: black;
  color: white;
}

.phg-CalendarDialog-Header .phg-TouchHTML {
  text-align: center;
  padding-top: 5px;
}

.phg-CalendarDialog-MonthWrapper {
  border: 1px solid rgb(120,120,120);
  background: white;
  color: black;
  font-size: 26px;
  text-align: center;
}

.phg-CalendarDialog-MonthTable {
  width: 100%;
  padding: 6px;
}

.phg-CalendarDialog-MonthHeader {
  color: #778088;
  font-family: Trebuchet MS;
  font-weight: 600;
}

.phg-CalendarDialog-MonthHeader-WeekDay {
  font-family: Trebuchet MS;
  font-size: 12px;
  color: #778088;
  padding-bottom: 6px;
}

.phg-CalendarDialog-Month-Day {
  border-bottom: 1px solid #bcc0c1;
  border-right: 1px solid #bcc0c1;
  color: #bcc0c1;
  background-color: rgb(245, 247, 249);
  font-size: 22px;
  padding-top: 10px;
}

.phg-CalendarDialog-Month-Day.phg-firstRow {
  border-top: 1px solid #bcc0c1;
}

.phg-CalendarDialog-Month-Day.phg-firstCol {
  border-left: 1px solid #bcc0c1;
}

.phg-CalendarDialog-Month-Day.phg-outsideMonth {
  background-color: rgb(215,217,219);
}

.phg-TimePickerDialog {
  color: black;
  background-color: rgb(239, 239, 239);
}

.phg-TimePickerDialog-Header {
  color: white;
  background-color: black;
}

.phg-TimePickerDialog-TimeRow {
  width: 60%;
  padding-left: 16%;
}

.phg-TimePickerDialog-TimeDigit {
  background-color: #fff;
  margin: 6px;
  text-align: center;
  font-size: 40px;
  padding: 6px;
  border: 2px solid #23238e;
  border-radius: 5px;
  height: 42px;
  padding-top: 4px;
}

.phg-TimePickerDialog-Keypad {
  padding-left: 11.5%;
}

.phg-TimePickerDialog-KeypadCell {
  border: 1px solid #bababa;
  background-image: -webkit-gradient(linear , left top, left bottom, 
  		color-stop(0.00, rgb(244, 244, 244)), 
  		color-stop(1.00, rgb(212, 212, 212))) ;
  width: 56px;
  height: 44px;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  font-size: 26px;
  padding-top: 10px;
}

.phg-TimePickerDialog-Bottom {
  padding-left: 16%;
  padding-top: 10px;
}

.phg-TimePickerDialog-BottomButton {
  border: 1px solid #bababa;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f4f4f4), color-stop(1, #d4d4d4));
  height: 30px;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  width: 100px;
  padding-top: 6px;
  margin-left: 4px;
}

