
@external .textControl* ;

.textControlBar {
	background: none repeat scroll 0 0 #F5F5F5;
}

.textControlContainer {
	border-color: transparent;
	border-style: solid;
	border-width: 1px;
	display: inline-block;
}

.textControlContainer:hover {
	border-color: #C6C6C6;
	border-style: solid;
	border-width: 1px;
}

.textControlSelected {
	border-color: #CCCCCC;
	border-style: solid;
	border-width: 1px;
    background-color: #EEEEEE;
}

.textControlNotSelected {
	border-color: transparent;
	border-style: solid;
	border-width: 1px;
}

.textControlSimple {
    display: inline-block;
	width: 21px;
	height: 23px;
}

.textControlCombo {
    display: inline-block;
	height: 23px;
}

.textControlPng {
	width: 21px;
	height: 21px;
    display: inline-block;
	background-image: url("/images/controls/text-control.png");
}

.textControlBold {
	background-position: 0 0;
}

.textControlItalic {
	background-position: -21px 0;
}

.textControlUnderline {
	background-position: -42px 0;
}

.textControlFontType {
	background-position: -63px 0;
}

.textControlFontSize {
	background-position: -84px 0;
}

.textControlAlignLeft {
	background-position: -273px 0;
}

.textControlAlignCenter {
	background-position: -294px 0;
}

.textControlAlignRight {
	background-position: -315px 0;
}

.textControlArrowDown {
	background: url("/images/controls/text-control-arrow-down.png")
		no-repeat scroll center center transparent;
	float: right;
	height: 7px;
	width: 5px;
	vertical-align: middle;
	margin: 10px 2px 0 3px;
    display: inline-block;
}

.textControlFontTypesPanel {
	position: absolute;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	cursor: default;
	font-size: 13px;
	padding: 6px 0;
}

.textControlFontSizesPanel {
	position: absolute;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	cursor: default;
	padding: 6px 0;
}

.textControlFontTypeInnerPanel {
	padding-left: 26px;
	height: 22px;
}

.textControlFontTypeInnerPanel:hover {
	background-color: #EEEEEE;
}

.textControlFontTypeSelected {
	background-image: url("/images/controls/text-control-checkmark.png");
	background-position: left top;
	background-repeat: no-repeat;
}

.textControlFontTypeFontLabel {
	padding-right: 44px;
	color: #333333;
	cursor: pointer;
	white-space: nowrap;
	vertical-align: middle;
	height: 22px;
}

