<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/demarcomsevthr/marcelatelab/blob/master/onscommons/extras/deploy/FBFPrenota-0.4-20151002.ipa?raw=true</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>it.melograno.fbfprenota</string>
				<key>bundle-version</key>
				<string>0.4-40.4</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>FbfPrenota-0.4</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
