
@external gwt*, phg*, app*;

@eval windowWidth it.mate.protoph.client.ui.theme.CustomTheme.getWindowWidth();

@eval windowHeight it.mate.protoph.client.ui.theme.CustomTheme.getWindowHeight();

.app-home-lbl {
  position: absolute;
  bottom: 0em;
  width: 100%;
  text-align: center;
}

.app-toolbar-search-box {
  margin-top: 0.2em;
  height: 2.4em;
  width: 150%;
}