
@external gwt*, dialog*, mgwt*, phg*, stm*, ui*;

.ui-homePanel {
  font-size: 22px;
}

.mgwt-HeaderPanel-center {
  left: 39%;
}

.ui-bodyArea .mgwt-InputBox-box {
  height: 35em;
}

.ui-bottom-action-btn {
  font-size: 1.125em;
  width: 140px;
  height: 90px;
  padding-top: 16px;
  padding-left: 80px;
  background-size: 60px 60px;	
}

.ui-home-terapies-btn, .ui-home-reminders-btn, .ui-home-doctors-btn, .ui-home-preferences-btn, .ui-contacts-doctor-btn, .ui-contacts-tutor-btn {
  width: 256px;
  height: 104px;
  padding-top: 260px;
  padding-left: 20px;
}

.ui-home-terapies-btn {
  background: url('main/images/terapies-256.png') no-repeat 8px 4px;
  margin-left: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.ui-home-reminders-btn {
  background: url('main/images/reminders-256.png') no-repeat 4px 2px;
  margin-right: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.ui-home-doctors-btn {
  background: url('main/images/doctors-256.png') no-repeat 4px 2px;
  margin-left: 40px;
  margin-top: 10px;
}

.ui-home-preferences-btn {
  background: url('main/images/preferences-256.png') no-repeat 4px 2px;
  margin-right: 40px;
  margin-top: 10px;
}

.ui-contacts-doctor-btn {
  background: url('main/images/contacts-doctor-256.png') no-repeat 4px 2px;
  margin-left: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.ui-contacts-tutor-btn {
  background: url('main/images/contacts-tutor-256.png') no-repeat 4px 2px;
  margin-right: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
}
