
@external gwt*, dialog*, mgwt*, phg*, stm*, ui*;

@url bgr bgrImage;

@eval windowWidth it.mate.therapyreminder.client.ui.theme.CustomTheme.getWindowWidth();

@eval windowHeight it.mate.therapyreminder.client.ui.theme.CustomTheme.getWindowHeight();

@eval homePanelHeight it.mate.therapyreminder.client.ui.theme.CustomTheme.getHomePanelHeight();

@eval firstRunPanelWidth it.mate.therapyreminder.client.view.HomeView.getFirstRunPanelWidth();

@eval firstRunPanelLeft it.mate.therapyreminder.client.view.HomeView.getFirstRunPanelLeft();

@eval bottomBarHeight it.mate.therapyreminder.client.view.TherapyEditView.getBottomBarHeight();

@eval bottomBarTop it.mate.therapyreminder.client.view.TherapyEditView.getBottomBarTop();

body {
  background-image: none;
  background-color: rgba(238, 238, 238, 0.8);
  background-repeat: repeat;
  background-size: windowWidth windowHeight;
}

.mgwt-HeaderPanel {
  background-color: #3b5998;
}

.mgwt-HeaderPanel-center {
  left: 30%;
  width: 310px;
  height: 40px;
  margin-right: -20px;
  margin-top: 0px;
  margin-left: -80px;
  padding-top: 10px;  
}

.ui-HeaderPanel-home {
  background: #3b5998 url('main/images/home.png') no-repeat 5%;
}

.ui-HeaderPanel-center-waiting {
  background: transparent url('main/images/ajax-loader-24-1.gif') no-repeat 86% 42%;
}	

.mgwt-ScrollPanel-container {
  width: 100%;
}

.mgwt-TextArea {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: block;
  position: relative;
  padding: 9px 13px;
  margin: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 19px;
  -webkit-appearance: none;  
}

.ui-homePanel .mgwt-TextArea .mgwt-InputBox-box {
  color: black;
  background-color: white;
  margin: -5px -13px -9px -13px;
  border-radius: 8px;
  -webkit-user-modify: initial;
}

.ui-homePanel .mgwt-TextArea .mgwt-InputBox-box:focus {
  background-color: white;
}

.ui-homePanel .mgwt-TextBox {
  padding-top: 0.2em;
}

.ui-homePanel .mgwt-TextBox .mgwt-InputBox-box {
  color: black;
  text-align: left;
  -webkit-user-modify: initial;
  padding-top: 3px;
  padding-left: 3px;
}

.phg-CalendarDialog-Header .phg-TouchHTML {
  padding-top: 0.5em;
  font-size: 22px;
  height: 1.9em;
}

.ui-homePanel {
  color: black;
  font-size: 16px;
  height: homePanelHeight;
}

.ui-homePanel-clearHeight {
  height: auto;
}

.ui-homePanel * {
  vertical-align: middle;
}

.ui-homePanel td {
  padding-top: 0.1em;
}

.ui-homePanel input {
  width: 2.6em;
  text-align: center;
}

.ui-homePanel textarea {
  background-color: white;
}

.ui-homePanel button {
  font-weight: bolder;
}

.ui-homePanel a {
  color: rgba(30, 0, 253, 0.9);
  font-family: Trebuchet MS;
  font-weight: 600;
  font-size: 20px;
  padding: 10px 10px;
}

.ui-homePanel .mgwt-SmartButton {
  background: rgba(0, 0, 255, 0.6);
  color: white;
}

.phg-DateBox, .phg-TimeBox {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: block;
  position: relative;
  padding: 9px 13px;
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  -webkit-appearance: none;
  font-size: 19px;
}

.ui-optionsBtn {
  background: url(main/images/options-28.png) no-repeat;
  height: 32px;
  padding-right: 24px;
  margin-top: 4px;  
}

.ui-changeUserBtn {
  background: url(main/images/change-user-32.png) no-repeat;
  height: 32px;
  padding-right: 38px;
  margin-top: 4px;  
}

.ui-homeLbl {
  padding-top: 2%;
  padding-left: 12px;
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  position: absolute;
  bottom: 1em;
}

.ui-signLbl {
  padding-top: 2%;
  padding-left: 12px;
  width: 100%;
  overflow: hidden;
  font-size: 12px;
}

.ui-signBtn {
  padding-top: 4px;
}

.ui-signBtn a {
  font-size: 16px;
}

.ui-signedLbl {
  padding-left: 12px;
  width: 13em;
  overflow: hidden;
  font-size: 16.8px;
}

.ui-homeSpacer1 {
  height: 1em;
}

.ui-homeSpacer2 {
  height: 2em;
}

.ui-results-panel {
  border-top: 1px solid black;
}

.ui-row {
  width: 100%;
  height: 2.5em;
  border-bottom: 1px solid black;
  background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
}

.ui-row td:first-child {
  width: 3em;
}

/********************************************************************/
/**    NUOVI CSS
***/

.ui-view-header {
  width: 100%;
  text-align: center;
  background-color: #3b5998;
  color: white;
  height: 1.5em;
  padding-top: 0.2em;
  font-family: arial, sans-serif;
  border-bottom: 1px solid #52a3c4;
}

.ui-header-label {
  font-size: 1.2em;
  padding-left: 0.6em;
  color: blue;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 5px;
  text-align: center;
}

.ui-top-button-bar {
  width: 100%;
  padding-top: 0.1em;
  padding-bottom: 0.2em;
}

.ui-top-button-bar td {
  width: 50%;
  padding: 0;
}

.ui-top-action-btn {
  font-size: 14px;
  font-family: arial, sans-serif;
  font-weight: bold;
  margin: 2px;
}

.ui-app-textbox {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 9px 13px;
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  -webkit-appearance: none;
  height: 1.2em;
  background-color: white;
  font-size: 19px;
}

.ui-app-combobox {
  height: 1.2em;
}

.ui-qta-box {
  width: 5em;
}

.ui-um-combobox {
  margin-top: 0;
}

.ui-homePanel .mgwt-TextBox.ui-app-textbox {
  margin-top: 0;
}

.ui-field-label {
  font-size: 12px;
  padding-left: 0.6em;
  color: blue;
  font-weight: bold;
  margin-bottom: -5px;
}

.ui-field-label-1 {
  margin-bottom: 0;
}

.ui-inline-label {
  color: blue;
  font-weight: bold;
  padding-left: 0.6em;
  padding-top: 0.4em;
  padding-right: 0.4em;
}

.ui-view-separator {
  margin-top: 0.5em;
}

.phg-DateBox.ui-app-calbox {
  width: 6em;
  height: 1em;
  padding-left: 3px;
  padding-right: 18px;
}

.ui-day-label {
  padding-left: 0.36em;
  font-size: 0.8em;
}

.ui-hours-label {
  padding-left: 0.36em;
}

.phg-TimeBox.ui-app-timebox {
  height: 1em;
  width: 3.6em;
}

.ui-hourrange-box {
  width: 3.6em;
}

.ui-edit-btn {
  background: url(main/images/edit-28.png) no-repeat;
  width: 28px;
  height: 28px;
  margin-top: 10px;
  margin-right: 6px;
}

.ui-add-btn {
  background: url(main/images/add-34.png) no-repeat;
  width: 36px;
  height: 36px;
  margin-top: 5px;
  margin-left: 3px;
}

.ui-remove-btn {
  background: url(main/images/remove-28.png) no-repeat;
  width: 28px;
  height: 28px;
  margin-top: 10px;
}

.ui-home-terapies-btn, .ui-home-reminders-btn, .ui-home-doctors-btn, .ui-home-preferences-btn {
  width: 128px;
  height: 52px;
  padding-top: 130px;
  padding-left: 10px;
  border: 3px solid rgba(0, 0, 255, 0.1);
  border-radius: 6px;
}

.ui-home-terapies-btn {
  background: url('main/images/terapies-128.png') no-repeat 8px 4px;
}

.ui-home-reminders-btn {
  background: url('main/images/reminders-128.png') no-repeat 4px 2px;
}

.ui-home-doctors-btn {
  background: url('main/images/doctors-128.png') no-repeat 4px 2px;
}

.ui-home-preferences-btn {
  background: url('main/images/preferences-128.png') no-repeat 4px 2px;
}

.ui-bottom-button-bar {
  position: absolute;
  top: bottomBarTop;
  height: bottomBarHeight;
  width: 100%;
  background: rgb(128, 128, 128);
  padding-left: 16px;
}

.ui-bottom-action-btn {
  font-size: 11px;
  font-family: arial, sans-serif;
  font-weight: bold;
  margin: 2px;
  width: 50px;
  height: 52px;
  padding-top: 16px;
  padding-left: 40px;
  border-right: 1px solid;
}

.ui-bottom-action-btn a {
  color: rgb(246, 246, 0);
}

.ui-bottom-action-what-btn {
  background: url('main/images/what-32.png') no-repeat 0px 0px;
}

.ui-bottom-action-when-btn {
  background: url('main/images/when-32.png') no-repeat 0px 0px;
}

.ui-bottom-action-hours-btn {
  background: url('main/images/hours-32.png') no-repeat 0px 0px;
}
