
@external homePanel, verLbl, boxSpacer, valoriLbl;

@external inputPanel, firstColumn, secondColumn, spin-Button;

@external outputPanel;

@external gwt*, dialog*;

@external mgwt*;

@external ckd*;


.mgwt-ScrollPanel-container * {
  font-size: 22px;
}

/* 23/08/2013
.homePanel * {
*/
.homePanel td {
  font-size: 22px;
}

.homePanel button {
  font-size: 22px;
}

.ckdAppPresentation {
  font-size: 28pt;
}

.mgwt-Button.ckdParamBtn.mgwt-Button-round {
  font-size: 24px;
}

.verLbl {
  font-size: 10px;
}

.inputPanel .gwt-Label {
  font-size: 22px;
}

.inputPanel .mgwt-InputBox-box {
  font-size: 32px !important;
}

.outputPanel .gwt-Label {
  font-size: 12pt;
}

.mgwt-Button.ckd-HelpBtn {
  font-size: 14px;
}

.ckd-Gfr, .ckd-Stadium {
  font-size: 14pt;
}

.ckd-Risk {
  font-size: 16pt;
}

.valoriLbl {
  font-size: 18px !important;
}

.ckdMdrdLabel1 {
  font-size:12pt;
}

.ckdMdrdLabel1 {
  font-size:12pt;
}

.ckdMdrdLabel2 {
  font-size:10pt;
}

.mgwt-Button.ckd-ReferralDecisionMakingButton {
  font-size: 16px;
}

.ckdReferralDecisionViewPanel .gwt-Label, .ckdProtocolStepViewPanel .ckd-stepPanel .gwt-HTML {
  font-size: 38px;
}

.ckdProtocolStepViewPanel .mgwt-SmartButton.mgwt-Button.mgwt-Button-round {
  font-size: 32px;
}

.ckd-ProtocolHeaderButton-text {
  font-size: 20px;
}

.ckd-ProtocolHeaderPanel-center {
  font-size: 20px;
}
