@external homePanel, outputPanel;

body {
  background: #a8c0ce url(main/images/grad.png) top left repeat;
}

.mgwt-ScrollPanel-container {
  width: 100%;
}

.homePanel, .ckdHomePanel {
  background-image: -webkit-gradient(linear , left top, left bottom, color-stop(0.20, rgba(64, 127, 221, 0.75)), color-stop(0.80, rgba(85, 184, 209, 0.72)), color-stop(0.90, rgba(5, 123, 252, 0.8))) ;
  background-repeat: repeat;
  background-size: 20px 600px;
  -webkit-border-radius: 8px;
  border: 2px inset whitesmoke;
}

.homePanel * {
  vertical-align: middle;
}

.homePanel button {
  font-weight: bolder;
}

.ckdAppPresentation {
  margin-top: 20px;
}

.inputPanel {
  margin-top: 8%;
}

.ckdInputPanelTable {
  width: 80%;
  margin-top: 8%;
  padding-left: 8%;
}

.outputPanel {
  margin-top: 8%;
}

.homePanel.outputPanel {
  padding-top: 20px;
}

.outputPanel .ckd-Label {
  width: 20em;
  padding-left: 8em;
}

.ckd-Gfr {
  width: 10em;
}

.ckd-Risk {
  width: 13.2em;
}

.outputPanel .ckd-LeftPaddingBox {
  width: 0;
}

.valoriLbl {
  width: 90%;
}

.ckd-MDRD {
  height: 1.8em !important;
}

.ckdMdrdLabel1 {
  display: inline;
}

.ckdMdrdLabel2 {
  display: inline;
}

.ckd-outputSectionSeparator {
  height: 0.2em !important;
}

/*
 *   SOLO PER DEBUG
 *
 */

