@external homePanel, outputPanel;

body {
  background: #a8c0ce url(main/images/grad.png) top left repeat;
}

.mgwt-ScrollPanel-container {
  width: 100%;
}

.homePanel, .ckdHomePanel {
  background-image: -webkit-gradient(linear , left top, left bottom, color-stop(0.20, rgba(64, 127, 221, 0.75)), color-stop(0.80, rgba(85, 184, 209, 0.72)), color-stop(0.90, rgba(5, 123, 252, 0.8))) ;
  background-repeat: repeat;
  background-size: 20px 720px;
  -webkit-border-radius: 8px;
  border: 2px inset whitesmoke;
}

.homePanel * {
  vertical-align: middle;
}

.homePanel button {
  font-weight: bolder;
}

.ckdAppPresentation {
  margin-top: 20px;
}

.inputPanel {
  margin-top: 8%;
}

.ckdInputPanelTable {
  width: 80%;
  margin-top: 8%;
  padding-left: 8%;
}

.outputPanel {
  margin-top: 8%;
}

.homePanel.outputPanel {
  padding-top: 20px;
}

.outputPanel .ckd-Label {
  width: 20em;
  padding-left: 4em;
}

.ckd-Gfr {
  width: 10em;
}

.ckd-Risk {
  width: 13.2em;
}

.outputPanel .ckd-LeftPaddingBox {
  width: 0;
}

.valoriLbl {
  width: 80%;
}

.ckd-MDRD {
  height: 1.8em !important;
}

.ckdMdrdLabel1 {
  display: inline;
}

.ckdMdrdLabel2 {
  display: inline;
}


/** EXTENDED VERSION **/

/*
  23/08/2013
 */

.ckd-output-VerticalPanel-1 td {
  text-align: center;
}

.ckd-output-VerticalPanel-1 .gwt-Label.valoriLbl, .ckd-output-VerticalPanel-1 .valoriLbl.ckd-MDRD {
  margin-left: 10px;
}

.ckd-suggestionBtn {
  width: 80%;
}

.ckd-ProtocolHeaderPanel-center {
  margin-left: 95px;
}

.ckd-ProtocolStepPanel {
  margin-top: 80px;
  height: 480px;
}

.ckd-ProtocolStepPanel-center {
  height: 48%;
}

.ckd-ProtocolHeaderButton-border-container, .ckd-ProtocolHeaderButton-text {
  margin-top: 10px;
}

/**** PROTOCOL HEADER PANEL 2 ****/

.ckd-ProtocolHeaderPanel2 {
  width: 556px;
}

.ckd-ProtocolHeaderButton2-text {
  font-size: 13px;
  top: 8px;
}	

.ckd-ProtocolHeaderPanel2-center {
  width: 490px;
  font-size: 14px;
}

