
@external homePanel, verLbl, boxSpacer, valoriLbl;

@external inputPanel, firstColumn, secondColumn, spin-Button;

@external outputPanel;

@external gwt*, dialog*;

@external mgwt*;

@external ckd*;


.mgwt-ScrollPanel-container * {
  font-size: 22px;
}

.mgwt-Button {
  font-size: 38px;
}

.homePanel * {
  font-size: 32px;
}

.homePanel button {
  font-size: 32px;
}

.ckdAppPresentation {
  font-size: 44pt;
}

.inputPanel .gwt-Label {
  font-size: 22pt;
}

.outputPanel .gwt-Label {
  font-size: 20pt;
}

.mgwt-Button.ckd-HelpBtn {
  font-size: 24px;
}

.ckd-Gfr, .ckd-Stadium {
  font-size: 24pt;
}

.ckd-Risk {
  font-size: 28pt;
}

.mgwt-Button.ckd-Bsa {
  font-size: 32px;
}

.verLbl {
  font-size: 16px;
}

.valoriLbl {
  font-size: 20pt !important;
}

.ckdMdrdLabel1 {
  font-size: 20pt;
}

.ckdMdrdLabel2 {
  font-size: 16pt;
}

.gwt-HTML.ckd-Label.ckd-BsaLabel {
  font-size: 18pt;
}

.gwt-TextBox.ckd-Risk {
  font-size: 28pt;
}

.gwt-HTML.ckd-HelpPanel * {
  font-size: 24px;
}

.gwt-DialogBox {
  font-size: 22pt;
}

.gwt-DialogBox .dialogTop {
  font-size: 26pt;
}

.gwt-DialogBox .dialogContent .gwt-Button {
  font-size: 28pt;
}
