
.ecxPostCreated {
  background: url("main/images/commons/post-header-date.png") no-repeat scroll left -1px transparent;
  padding-left: 20px;
  font: 12px Arial;
}

.ecxPostTitle {
  font: Arial;
  font-size: 170%;
  line-height: 1.4em;
  cursor: pointer;
}

.ecxPostFooter {
  background: none repeat scroll 0 0 #F7F7F7;
  border-bottom: 1px solid #DDDDDD;
  border-top: 1px solid #DDDDDD;
  color: #555555;
  font: 90%/1.4em Trebuchet,Arial,Verdana,Sans-serif;
  letter-spacing: 0;
  margin-bottom: 0.75em;
  margin-left: 0;
  margin-top: 7px;
  padding: 10px;
  text-transform: none;
}

.ecxPostAuthor {
  background: url("main/images/commons/post-author.png") no-repeat scroll 0 0 transparent;
  padding-left: 20px;
}

.ecxPostCommentsCount {
  background: url("main/images/commons/post-comment.png") no-repeat scroll 0 0 transparent;
  padding-left: 20px;
}

.ecxPostTags {
  background: url("main/images/commons/post-tags.png") no-repeat scroll 0 0 transparent;
  padding-left: 20px;
}

