
@external homePanel, verLbl, boxSpacer, valoriLbl;

@external inputPanel, firstColumn, secondColumn, spin-Button;

@external outputPanel;

@external gwt*, dialog*;

@external mgwt*;

@external ckd*;

.mgwt-ScrollPanel-container {
  width: 100%;
}

.homePanel {

}

.homePanel * {
  vertical-align: middle;
}

.homePanel td {
  padding-top: 0.1em;
}

.homePanel input {
  width: 2.6em;
  text-align: center;
}

.homePanel button {
  font-weight: bolder;
}

.mgwt-Button.ckdParamBtn.mgwt-Button-round {
  width: 10em;
}

.ckdAppPresentation {
  color: rgb(248, 242, 242);
  padding-top: 20px;
  font-weight: bold;  
}

.inputPanel button {
  border: solid 1px rgb(192,192,192);
  padding: 4px;
  margin: 2px;
  -webkit-border-radius: 2px;
  background-color: rgb(230,230,230);
}

.inputPanel .gwt-Label {
  font-family: Verdana;
  font-weight: 600;
  color: rgba(26, 26, 0, 0.90);
}

.inputPanel .firstColumn {
  padding-left: 12px;
  height: 44px;
}

.inputPanel .secondColumn {
  text-align: center;
  width: 3.6em;
}

.inputPanel .gwt-Anchor {
  text-decoration: underline;
  font-weight: 600;
  font-style: italic;
  color: rgba(255, 255, 0, 0.9);
}

.inputPanel .mgwt-InputBox-box {
  -webkit-border-radius: 6px;
}

.outputPanel {
  
}

.outputPanel .gwt-Label {
  font-family: Verdana;
  color: rgba(26, 26, 0, 0.90);
}

.outputPanel .ckd-Label {
  font-weight: 600;  
  width: 9em;
  padding-left: 2em;
}

.outputPanel .ckd-LeftPaddingBox {
/*  width: 1.6em; */
  width: 0em;  
}

.outputPanel .gwt-Label.ckd-Label {
  width: 120px;
}

.mgwt-Button.ckd-HelpBtn {
  width: 6em;
  padding: 6px 6px;
  position: absolute;
  top: 370px;
  left: 108px;
}

.ckdInputPanelTable {
  width: 100%;
}

.ckd-Gfr, .ckd-Stadium {
  font-weight: 600;
  text-align: center;
  padding-top: 2px;
  border: 1px solid black;
  -webkit-border-radius: 4px;
  background: rgb(230, 230, 230);
  color: black !important;
}

.ckd-Gfr {
  width: 7.1em;
  height: 1.4em;
}

.ckd-Stadium {
  width: 2.8em;
  height: 1.4em;
}

.ckd-Risk {
  font-weight: 600;
  text-align: center;
  padding-top: 2px;
  border: 1px solid black;
  -webkit-border-radius: 4px;
  width: 10.34em;
  height: 1.4em;
}

.mgwt-Button.ckd-BsaBtnSelected {
  border-color: yellow !important;
}

.mgwt-Button.ckd-Bsa {
  padding: 4px;
}

.ckd-Label {
  
}

.ckd-CheckBox {
  background-color: white;
  border: 1px solid grey;
  -webkit-border-radius: 4px;
  padding: 2px 2px;
}

.valoriLbl {
  font-weight: bolder;
  background-color: rgba(105, 225, 255, 0.91);
  height: 1.6em;
  width: 272px;
  padding-top: 5px;
  -webkit-border-radius: 6px;
  color: rgb(80, 80, 80) !important;
  font-family: Verdana !important;
}

.ckd-MDRD {
  padding-top: 2px;
}

.boxSpacer {
  width: 0.05em !important;
}

.gwt-CheckBox * {
  width: 1em !important;
  text-align: center;
}

.gwt-TextBox.ckd-Risk {
  font-weight: 600;
}

.mgwt-Button {
  border: solid 3px rgba(0, 0, 0, 0.40) !important;
}

.mgwt-Button-round {
  border-bottom-left-radius: 8px 8px !important;
  border-bottom-right-radius: 8px 8px !important;
  border-top-left-radius: 8px 8px !important;
  border-top-right-radius: 8px 8px !important;
}

.mgwt-Button.spin-Button {
  padding: 6px 8px;
  border: solid 1px !important;
}

.mgwt-TextBox .mgwt-InputBox-box {
  font: normal 28px Helvetica !important;
}

.mgwt-HeaderButton-text {
  max-width: 74px !important;
}

.ckd-HelpPanel {
  padding: 10px;
}

.gwt-DialogBox {
  background-color: #ccc;
  padding: 5px;
  -webkit-border-radius: 4px;
}

.gwt-DialogBox .dialogTop {
  font-weight: 600;
}

.gwt-DialogBox .dialogTopCenterInner {
  background-color: lightyellow;
  -webkit-border-radius: 4px;
  padding: 3px 3px 3px 9px;
}

.gwt-DialogBox .dialogMiddleCenter {
  padding-top: 8px;
  padding-right: 14px;
}

.gwt-DialogBox .dialogContent .gwt-HTML {
  padding: 5px;
  font-weight: 600;
}

.gwt-DialogBox .dialogContent .gwt-Button {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 10px;
}

.gwt-DialogBox .dialogTop {
  color: black;
}


.mgwt-SmartButton {
  display: block;
  position: relative;
  padding: 9px 13px;
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 19px;
  text-align: center;
  -webkit-appearance: none;
  background-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(234, 234, 234, 0.9)), 
  	color-stop(0.5, rgba(195, 195, 195, 0.7)), 
  	color-stop(0.5, rgba(166, 166, 166, 0.7)), 
  	to(rgba(167, 167, 167, 0.8)));
  border-bottom-left-radius: 9px 9px !important;
  border-bottom-right-radius: 9px 9px !important;
  border-top-left-radius: 9px 9px !important;
  border-top-right-radius: 9px 9px !important;
  border: solid 3px rgba(0, 0, 0, 0.4);
  color: #000000;
  outline: none;
}



@if (it.mate.ckd.client.constants.AppProperties.Global.isExtendedVersion()) {
	
  .ckd-Risk {
    width: 7.1em;
  }
  
  .ckd-ReferralDecisionMakingGroup {
    visibility: true;
  }
  
  .mgwt-Button.ckd-ReferralDecisionMakingButton {
    font-size: 10px;
    font-weight: bolder;
    padding: 4px 8px;
    margin: 0;
    border: solid 1px rgba(0, 0, 0, 0.4) !important;
    color: rgb(170, 0, 0);
  }
  
  .ckd-ReferralDecisionMakingGroup td {
    padding: 0;
  }
  
  .ckdReferralDecisionViewPanel .gwt-Label, .ckdProtocolStepViewPanel .gwt-HTML {
    font-size: 38px !important;
    color: white;
  }
  
  .gwt-Label.ckdSuggestedReferralDecision {
    padding-left: 20px;
    color: yellow;
  }
  
  .ckdProtocolStepViewPanel .mgwt-SmartButton.mgwt-Button.mgwt-Button-round {
    font-size: 32px;
  }
  
  .ckdProtocolStepViewPanel .ckdProtocolBackBtn {
    font-size: 14px !important;
    width: 3em;
    height: 1em;
    padding: 8px 10px;
  }
  
} @else {
	
  .ckd-Risk {
    width: 10.34em;
  }
  
  .ckd-ReferralDecisionMakingGroup {
    visibility: false;
    width: 0;
  }
  
}

.mgwt-TextBox.mgwt-SpinnerDouble-int-part .mgwt-InputBox-box {
  width: 1.8em;	
}

.mgwt-TextBox.mgwt-SpinnerDouble-dec-part .mgwt-InputBox-box {
  width: 0.9em;
  margin-left: 0.2em;
  font-size: 22px !important;
  margin-top: 0.1em;
}
