
@external homePanel, verLbl, boxSpacer, valoriLbl;

@external inputPanel, firstColumn, secondColumn, spin-Button;

@external outputPanel;

@external gwt*;

@external mgwt*;

@external ckd*;

.homePanel {

}

.homePanel * {
  font-size: 16px;
  vertical-align: middle;
}

.homePanel td {
  padding-top: 0.1em;
}

.homePanel input {
  width: 3em;
  text-align: center;
}

.homePanel button {
  font-size: 16px;
  font-weight: bolder;
}

.inputPanel button {
  border: solid 1px rgb(192,192,192);
  padding: 4px;
  margin: 2px;
  -webkit-border-radius: 2px;
  background-color: rgb(230,230,230);
}

.inputPanel .gwt-Label {
  font-family: Verdana;
  font-size: 11pt;
  font-weight: 600;
  color: rgba(26, 26, 0, 0.90);
}

.inputPanel .firstColumn {
  padding-left: 12px;
  height: 44px;
}

.inputPanel .secondColumn {
  text-align: center;
  width: 3.6em;
}

.inputPanel .gwt-Anchor {
  text-decoration: underline;
  font-weight: 600;
  font-style: italic;
  color: rgba(255, 255, 0, 0.9);
}

.inputPanel .mgwt-InputBox-box {
  -webkit-border-radius: 6px;
}

.outputPanel {
  
}

.outputPanel .gwt-Label {
  font-family: Verdana;
  font-size: 10pt;
  color: rgba(26, 26, 0, 0.90);
}

.outputPanel .ckd-Label {
  font-weight: 600;  
}

.outputPanel .ckd-LeftPaddingBox {
  width: 1.6em;  
}

.outputPanel .gwt-Label.ckd-Label {
  width: 120px;
}

.mgwt-Button.ckd-HelpBtn {
  font-size: 12px;
  width: 6em;
  padding: 6px 6px;
  position: absolute;
  top: 370px;
  left: 108px;
}

/*
  background: lightgrey;
*/
.ckd-Gfr, .ckd-Stadium {
  font-size: 12pt;
  font-weight: 600;
  text-align: center;
  padding-top: 2px;
  border: 1px solid black;
  -webkit-border-radius: 4px;
  background: rgb(230, 230, 230);
  color: black !important;
}

.ckd-Risk {
  font-size: 14pt;
  font-weight: 600;
  text-align: center;
  padding-top: 2px;
  border: 1px solid black;
  -webkit-border-radius: 4px;
}

.mgwt-Button.ckd-BsaBtnSelected {
  border-color: yellow !important;
}

.mgwt-Button.ckd-Bsa {
  padding: 4px;
  font-size: 16px;
}

.ckd-Label {
  
}

.ckd-CheckBox {
  background-color: white;
  border: 1px solid grey;
  -webkit-border-radius: 4px;
  padding: 2px 2px;
}

.verLbl {
  font-size: 8px;
}

/*
  background-color: rgb(121, 121, 121);
*/
.valoriLbl {
  font-size: 18px;
  font-weight: bolder;
  background-color: rgba(105, 225, 255, 0.91);
  height: 1.6em;
  width: 272px;
  padding-top: 5px;
  -webkit-border-radius: 6px;
  color: rgb(80, 80, 80) !important;
  font-family: Verdana !important;
  font-size: 10pt !important;
}

.ckd-MDRD {
  padding-top: 2px;
}

.gwt-HTML.ckd-Label.ckd-BsaLabel {
  font-size: 9pt;
}

.boxSpacer {
  width: 0.05em !important;
}

.gwt-CheckBox * {
  width: 1em !important;
  text-align: center;
}

.gwt-TextBox.ckd-Risk {
  font-weight: 600;
  font-size: 14pt;
}

.mgwt-Button {
  border: solid 3px rgba(0, 0, 0, 0.40) !important;
}

.mgwt-Button-round {
  border-bottom-left-radius: 8px 8px !important;
  border-bottom-right-radius: 8px 8px !important;
  border-top-left-radius: 8px 8px !important;
  border-top-right-radius: 8px 8px !important;
}

.mgwt-Button.spin-Button {
  padding: 6px 8px;
  border: solid 1px !important;
}

.mgwt-TextBox .mgwt-InputBox-box {
  font: normal 28px Helvetica !important;
}

.mgwt-HeaderButton-text {
  max-width: 74px !important;
}

.ckd-HelpPanel {
  padding: 10px;
}

.gwt-HTML.ckd-HelpPanel * {
  font-size: 12px;
}