
/**
   DecoratorPanel borders FIX (see http://blog.js-development.com/2010/02/gwt-decoratorpanel-style-problems.html)
**/

/**
   21/09/2012
   Devo mettere la scrollbar fissa per evitare il brutto effetto flip-flip sulle pagine che non riempiono tutta l'altezza del browser.
 **/

body {
  overflow-y: scroll;
}

td {
  vertical-align: top;
}

.uppercase { 
  text-transform: uppercase
}

.headerGreyBackground {
  background-color: #F2F2F2;
}

.gwt-registrationForm {
	
}

.gwt-registrationForm td {
  padding-bottom: 3px;
  padding-left: 2px;
}

.gwt-registrationForm .gwt-Label-Section {
  background-color: #D3D3D3;
  border: 1px solid #000000;
  font: bold 13px Verdana;
  padding-top: 2px;
  padding-bottom: 4px;
  padding-left: 5px;
  margin-bottom: 10px;
}

.mwt-BoxLayoutPanelHorizontalCell {
  padding: 4px;
}

.mwt-portletBoundary {
  border: 6px solid #D4DEE7;
  background-color: #F0F0F0;
}

.gwt-HTML * {
  font-size: 100%;
}

.gwt-HTML strong {
  font-weight: bold;
}

.gwt-Anchor-commonAnchor {
  padding: 3px 0 3px 18px;
  font-weight: bold;
  text-decoration: underline;
  margin-left: 25px;
  margin-bottom: 25px;
}

.gwt-DecoratorPanel {
  table-layout: fixed;
}

.gwt-DecoratorPanel .topLeft,
.gwt-DecoratorPanel .topRight,
.gwt-DecoratorPanel .bottomLeft,
.gwt-DecoratorPanel .bottomRight {
  width: 2px;
  height: 2px;
}

.gwt-DecoratorPanel .topLeftInner,
.gwt-DecoratorPanel .topRightInner,
.gwt-DecoratorPanel .bottomLeftInner,
.gwt-DecoratorPanel .bottomRightInner {
  width: 2px;
  height: 2px;
}

* html .gwt-DecoratorPanel .topLeftInner,
* html .gwt-DecoratorPanel .topRightInner,
* html .gwt-DecoratorPanel .bottomLeftInner,
* html .gwt-DecoratorPanel .bottomRightInner {
  width: 2px;
  height: 2px;
}

.gwt-DecoratorPanel .topCenter,
.gwt-DecoratorPanel .topCenterInner,
.gwt-DecoratorPanel .bottomCenter,
.gwt-DecoratorPanel .bottomCenterInner {
  height: 2px;
}

* html .gwt-DecoratorPanel .topCenterInner,
* html .gwt-DecoratorPanel .bottomCenterInner {
  height: 2px;
}

.cke_skin_kama .cke_button .cke_button_readmore .cke_icon {
  width: 64px;
}

.cke-readmore {
  cursor: pointer;
}