
@external gwt*, phg*, app*, ons*;

@eval windowWidth it.mate.protoph.client.ui.theme.CustomTheme.getWindowWidth();

@eval windowHeight it.mate.protoph.client.ui.theme.CustomTheme.getWindowHeight();

.app-home-presentation {
  position: fixed;
  text-align: center;
  width: 100%;
  top: 4em;
}

.app-home-buttonbar {
  position: fixed;
  bottom: 2em;
  width: 100%;
}

.app-home-buttonbar .ons-button {
  text-align: left;
  height: 3em;
  padding-top: 0.5em;
  padding-left: 1.5em;
}
	
.app-home-lbl {
  position: absolute;
  bottom: 0.5em;
  width: 100%;
  text-align: center;
}

.app-toolbar-search-box {
  margin-top: 0.2em;
  height: 2.4em;
  width: 150%;
}

.app-timbri-carousel {
  width: 100%;
  height: 100%;
}

.app-timbri-carousel ons-carousel-item {
  background-color: rgb(228, 241, 255);
  padding: 0.5em;
}

.app-carousel-item-inner {
  height: 100%;
}

.app-carousel-item-inner img {
  border-radius: 5%;
  width: 95%;
}

.app-carousel-item-name {
  margin-left: 5%;
  font-size: 1.2em;
  margin-top: 2%;
  margin-bottom: 2%;
  font-weight: bold;
  font-style: italic;
}

.app-timbri-choose-btn {
  position: fixed;
  bottom: 0.5em;
}